@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://t.me/pw_murka_bot" target="_blank">Написать Мурке</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
